.loginContainer{
    width: 100%;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/jonyalanoca/Gias/refs/heads/main/FondoLogin.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.loginCard{
    height: 100vh;
    min-width: 30vw;
    background-color: rgba(0, 0, 0, 0.457);
    padding: 2rem;
}
.accesDirectos{
    display: flex;
    justify-content: center;
    gap:2rem;}
@media only screen and (max-width: 1150px) {
    .loginCard{
        min-width: 50vw;
    }
}
@media only screen and (max-width: 700px) {
    .loginCard{
        min-width: 80vw;
    }
}