<div class="errorContainer">
    <div class="errorContent">
        <div class="errorTitle errorItem">
            :)  <b>404!</b>
         </div>

         <figure class="errorImage errorItem">
             <img src="https://raw.githubusercontent.com/jonyalanoca/Gias/178f2cfea644896eed7b29c9d02fdeca60e06feb/404.png" alt="perroSimpson">
         </figure>
         <div class="errorMessage errorItem" >
            Algo malio sal <a class="retorno" [routerLink]="['/home']">¿Regresar al Home?</a>
        </div>
    </div>
</div>