<div class="wellcomeContainer">
    <div class="wellcomeCard">
        <div class="cardElement cardInformation">
            <div class="cardTitle">
                ¡BIENVENIDO, GAMER! 🎮<br>
            </div>
            <div class="carParagraph">
                Prepárate para probar tus límites en cada partida en la que podrás demostrar tus habilidades frente a
                otros jugadores. Ya seas un estratega, un experto en memoria, o confíes en tu suerte, este es tu espacio
                para conectar con tu pasión, superar tus propios récords, y descubrir nuevos horizontes en el universo
                gaming. Cada desafío es una oportunidad para crecer y cada victoria un testimonio de tu destreza.
                <br><br>
                ¡Ajusta tu headset, toma el control, y que comience la partida! El juego no ha hecho más que empezar, y
                el mejor nivel de diversión y competencia te está esperando. ¡Buena suerte y que disfrutes cada momento
                de la aventura!
            </div>
            <div class="cardFooter">
                Registrate para acceder a todo el contenido de <b>Tryhard Gamers</b>
            </div>


        </div>
        <figure class="cardElement">
            <img src="assets/bills.png" alt="none">
        </figure>
    </div>

</div>