<section class="container about">
    <figure class="about__imagenContainer">
        <img src="assets/me.webp" />
    </figure>
    <div class="about__historyContanier">
        <div class="about__card">
            <h3 class="about__card-title">Sobre mí</h3>
            <p id="about-paragraph1" class="about__card-paragraph">
                Hola 👋.<br>
                Soy un desarrollador web con un año de experiencia en
                el sector de logística y distribución, especializado en
                tecnologías modernas como Angular y .NET, así como
                en sus frameworks más populares.<br> Siempre estoy
                dispuesto a aprender nuevas tecnologías y a seguir
                creciendo profesionalmente junto a los equipos con los
                que colaboro.
                <br>
                Mis habilidades incluyen .NET, Angular, HTML, CSS, TypeScript, SQL Server, y control de versiones de
                código
            </p>
        </div>
        <div class="about__card">
            <h3 class="about__card-title">Estudios</h3>
            <p class="about__card-paragraph">
                Tecnico en Progranación - UTN Region Avellanda. En la actualidad me encuentro cursando las ultimas
                materias de la tecnicatura.
                <br /><br />
                Tecnico en Computación - ET24-DE17 Defensa de Buenos Aires - Graduado
            </p>
        </div>
    </div>
</section>

<section class="container blandas">
    <div class="blandas__cardsContainer">
        <div class="blandas__card">
            <svg class="blandas__card-svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M6.012 18H21V4a2 2 0 0 0-2-2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.805 5 19s.55-.988 1.012-1zM8 6h9v2H8V6z">
                </path>
            </svg>
            <h4 class="blandas__card-title">Formación continua</h4>
            <p class="blandas__card-paragraph">"Tengo una actitud proactiva hacia el aprendizaje constante y la mejora
                continua, lo que me permite estar siempre actualizado y adaptarme rápidamente a los cambios."</p>
        </div>
        <div class="blandas__card">
            <svg class="blandas__card-svg" width="24" height="24" viewBox="0 0 24 24">
                <path d=" M12 2C6.486 2 2 6.486
                2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm3.293 14.707L11 12.414V6h2v5.586l3.707 3.707-1.414
                1.414z"></path>
            </svg>
            <h4 class="blandas__card-title">Rapidez y sencilles</h4>
            <p class="blandas__card-paragraph">Me considero una persona ágil y eficiente en mi trabajo. Me gusta
                establecer prioridades y organizar mi tiempo de manera efectiva para poder cumplir con los plazos y
                objetivos establecidos."</p>
        </div>

        <div class="blandas__card">
            <svg class="blandas__card-svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M19 11h-6V8h6a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H5L2 5l3 3h6v3H5a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h6v5h2v-5h6l3-3-3-3z">
                </path>
            </svg>
            <h4 class="blandas__card-title">Adaptabilidad</h4>
            <p class="blandas__card-paragraph">"Estoy dispuesto a aprender y experimentar con nuevas herramientas y
                lenguajes, y me aseguro de mantenerme actualizado en las últimas tendencias y desarrollos del mercado."
            </p>
        </div>
        <div class="blandas__card">
            <svg class="blandas__card-svg" width="24" height="24" viewBox="0 0 24 24">
                <path d=" M20.995 6.9a.998.998 0
                0 0-.548-.795l-8-4a1 1 0 0 0-.895 0l-8 4a1.002 1.002 0 0 0-.547.795c-.011.107-.961 10.767 8.589
                15.014a.987.987 0 0 0 .812 0c9.55-4.247 8.6-14.906 8.589-15.014zM12 19.897V12H5.51a15.473 15.473 0 0
                1-.544-4.365L12 4.118V12h6.46c-.759 2.74-2.498 5.979-6.46 7.897z"></path>
            </svg>

            <h4 class="blandas__card-title">Seguridad</h4>
            <p class="blandas__card-paragraph">"Me aseguro de que mis aplicaciones web estén diseñadas con medidas de
                seguridad adecuadas para proteger la información de los usuarios."</p>
        </div>
        <div class="blandas__card">
            <svg class="blandas__card-svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M9.38 21.646A9.985 9.985 0 0 0 12 22l.141-.001a2.998 2.998 0 0 0 2.515-1.425c.542-.876.6-1.953.153-2.88l-.198-.415c-.453-.942-.097-1.796.388-2.281.485-.485 1.341-.841 2.28-.388h.001l.413.199a2.99 2.99 0 0 0 2.881-.153A2.997 2.997 0 0 0 22 12.141a9.926 9.926 0 0 0-.353-2.76c-1.038-3.827-4.353-6.754-8.246-7.285-3.149-.427-6.241.602-8.471 2.833S1.666 10.247 2.096 13.4c.53 3.894 3.458 7.208 7.284 8.246zM15.5 6a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zm-5-1a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zM9 15.506a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-2.5-6.5a1.5 1.5 0 1 1-.001 3.001A1.5 1.5 0 0 1 6.5 9.006z">
                </path>
            </svg>
            <h4 class="blandas__card-title">A la vanguardia</h4>
            <p class="blandas__card-paragraph">"Me considero un profesional comprometido con estar al día en las últimas
                tendencias. Me gusta poner mi conocimiento en práctica para crear sitios web atractivos, rápidos y
                fáciles."</p>
        </div>
    </div>

</section>