.homeContainer{
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://raw.githubusercontent.com/jonyalanoca/Gias/refs/heads/main/homeWallpaper.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
app-menu {
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto; 
    overflow: auto; 
}